@if (ViewBag.greska != null)
            {
                <h2>@ViewBag.greska</h2>
            }
<h2>Edit Pacijenta</h2>
<body>
    <form id="editPacijentForm" action="/Administrator/Edit" method="post" onsubmit="return validateForm()">
        <label>Korisnicko ime:</label>
        <input type="text" name="kime" value="@ViewBag.pacijent.KorisnickoIme" readonly>
        <br />
        <label>Ime</label>
        <input type="text" name="ime" placeholder="@ViewBag.pacijent.Ime" />
        <br />
        <label>Prezime</label>
        <input type="text" name="prezime" placeholder="@ViewBag.pacijent.Prezime" />
        <br />
        <label>Sifra</label>
        <input type="password" name="sifra" />
        <br />
        <label>Datum rodjenja</label>
        <input type="date" name="datum" placeholder="@ViewBag.pacijent.DatumRodjenja" />
        <br />
        <label>Email</label>
        <input type="email" name="email" placeholder="@ViewBag.pacijent.Email" />
        <br />
        <label>JMBG</label>
        <input type="text" name="jmbg" value="@ViewBag.pacijent.JMBG" readonly />
        <br />
        <input type="submit" value="Edit" />
    </form>
    <form action="/Administrator/Index" method="get">
        <input type="submit" value="Nazad" />
    </form>

    <script>
        function validateForm() {
            var ime = document.forms["editPacijentForm"]["ime"].value;
            var prezime = document.forms["editPacijentForm"]["prezime"].value;
            var sifra = document.forms["editPacijentForm"]["sifra"].value;
            var datum = document.forms["editPacijentForm"]["datum"].value;
            var email = document.forms["editPacijentForm"]["email"].value;

            if (ime === "" || prezime === "" || sifra === "" || datum === "" || email === "") {
                alert("Sva polja su obavezna!");
                return false;
            }
            
            var dateInput = new Date(datum);
            if (isNaN(dateInput.getTime())) {
                alert("Datum nije validan!");
                return false;
            }

            return true;
        }
    </script>
</body>
